body {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/profilebackground.jpg') no-repeat center center fixed;
    background-size: cover;
}

main {
    min-height: 90vh;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-wrapper img {
    display: block;
    transition: opacity 0.3s ease;
}

.image-settings.editable:hover img {
    opacity: 0.5;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-settings.editable:hover .edit-icon {
    opacity: 1;
}

.image-settings.editable:hover {
    cursor: pointer;
}

.image-settings {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 3px solid #28a745;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.image-settings img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.table-container{
    background: #121212;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 0 0 15px 3px rgba(0, 128, 0, 0.6);
    border: 1.5px solid #0f6d00;
}

#games-table_wrapper {
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: 10px;
}

#games-table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}

#games-table th,
#games-table td {
    border: none;
    padding: 0.75rem;
    text-align: center;
    vertical-align: middle;
    color: #f1f1f1;
    white-space: nowrap;
}

#games-table thead {
    background-color: #28a745;
    color: white;
    font-weight: bold;
}

#games-table tbody tr:nth-child(even) {
    background-color: #2c2c2c;
}

#games-table tbody tr:hover {
    background-color: #383838;
}

.dataTables_paginate .paginate_button {
    border: none;
    margin: 0 3px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dataTables_filter input,
.dataTables_length select {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    margin-left: 0.5rem;
    align-items: end;
}

#games-table_wrapper .dataTables_length,
#games-table_wrapper .dataTables_filter {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#games-table_wrapper .row:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dataTables_wrapper > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#games-table_filter{
    margin-left: auto;
    justify-content: end;
}